# BackEnd/requirements.txt
fastapi
uvicorn
sqlmodel
python-jose[cryptography] # Pour l'authentification JWT
passlib[bcrypt]          # Pour le hachage de mot de passe (si tu ne l'utilises pas déjà, c'est recommandé)
websockets

cloudinary        # Pour l'upload des médias
python-dotenv     # Optionnel mais très recommandé pour gérer les clés secrètes

# Nouvelles dépendances pour PostgreSQL et migrations
psycopg2-binary          # Pilote pour PostgreSQL
alembic                  # Outil de migration de base de données